@model IEnumerable<BerrasBio.Models.Bookings>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="Orange table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Show.Movie.Title)
                    <span> - </span>
                    @Html.DisplayFor(modelItem => item.Show.ShowTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
